 <header class="header">
    <ul>
      <li class="spotify"><img src="Spotify-Emblem.png" href="/">Spotify</li>
      <li class="search-bar"><input type="search"><img src="search.svg"></li>
      <li><a href="/about">about</a></li>
      <li href="/Notifications">Notifications</li>
      <li href="/profile">Profile</li>
    </ul>
  </header>