<nav class="sidebar">
    <ul>
      <!-- <li class="spotify"><img  src="Spotify-Emblem.png"><span>Spotify</span></li> -->
      <li href="/"></href>Homes</li>
      <li href="/about"></href>Explore</li>
      <li>Library</li>
      <li>Prodcast</li>
      <li>Prodcast</li>
      <li>{{channelName}}</li>
      <li>Prodcast</li>
    </ul>
  </nav>